div.jumbotron {
    background-color: brown;
}

div.container {
    text-align: center;
}

h1 {
    color: antiquewhite;
}

h5 {
    color: antiquewhite;
}

canvas {
    border:3px solid brown;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    width:40%; 
    height:30%; 
    min-width:__px; 
    min-height:__px
}

/* input {
    padding: 5px;
} */

button.btn-predict {
    /* text-transform: uppercase;  */
    /* width: 320px;  */
    margin: 5px; 
    background-color: brown; 
    -moz-border-radius:5px; 
    -webkit-border-radius:5px; 
    border-radius:5px; 
    outline: 0;
    /* font-size: 26px;  */
    color: antiquewhite; 
    padding: 5px; 
    margin: 0; 
    border: 0; 
}

div.container-line {
    /* padding: top right bottom left */
    padding: 50px 0px 20px 0px;
    text-align: center;
}

div.wrapper:before, div.wrapper:after{
    content:" ";
    width: 300px;
    height: 2px;
    margin: 0px 10px;
    vertical-align: super;
    background-color:brown;
    display:inline-block;
}

::-webkit-file-upload-button {
    background: brown;
    color: antiquewhite;
    padding: 5px;
}

span.heart {
    color: brown;
}

p.result-plate {
    color: brown;
}

p.license {
    color: darkgrey;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    /* background-color: red;
    color: white; */
    text-align: center;
    font-size: small;
}